section {
    top: 0px;
    width: 100%;
    height: 100vh;
    background-position: top center;
    background-attachment: scroll;
    background-size: cover;
    background: center/100% no-repeat url("https://images.unsplash.com/photo-1603302576837-37561b2e2302?q=80&w=1768&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

#placeholdersoyoucanscroll {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;




}

.first-text h1 {
    padding-left: 50px;
    padding-bottom: 250px;
}

.first-text {
    height: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card {
    margin-top: 50px;
    height: 500px;
}


.navbar {
    background: transparent;
    padding: 0px 0px;


}



img {
    margin-top: 0px;
}

nav {
    border-bottom: 2px solid white;
}

.dropdown {
    background: none;

}

.btn {
    background: none;
    color: rgb(243, 245, 245);
    border: 2px solid rgb(225, 224, 223);
    border-radius: 25px;
    padding: 1em 2em;
    font-size: 1em;
    /* transition: all 0.25s; */
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
    border-color: #be5cff;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translatey(-0.25em);
    cursor: pointer;
}

.navbar-light .navbar-brand {
    color: white;
}

h1 {
    color: white;
}

.forefront-element {
    -webkit-transform: translateZ(999px) scale(.7);
    transform: translateZ(999px) scale(.7);
    z-index: 1;
}

.base-element {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.background-element {
    -webkit-transform: translateZ(-999px) scale(2);
    transform: translateZ(-999px) scale(2);
    z-index: 3;
}

.image2 {
    top: 0px;
    width: 100%;
    height: 100vh;
    background: center/100% no-repeat url("https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bGFwdG9wfGVufDB8fDB8fHww");

    background-attachment: scroll;
    background-size: cover;
}


.card-img {
    width: 500px;
    height: 500px;
}

img.bg,
html,
body {


    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}